<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ApplicationName" value="OpenShareNet" />
    <add key="Environment" value="Local Development" />
    <add key="ErrorEmailGroup" value="YourEmail@localhost" />
    <!-- .com, .net, .org, etc... -->
    <add key="UnitTestSecureString" value="chars" />
    <add key="WebsiteSharePath" value="C:\WebsiteShare\" />
    <add key="WebsiteShareDomain" value="YourDomain" />
    <add key="WebsiteShareUsername" value="YourUsername" />
    <add key="WebsiteSharePassword" value="YourPassword" />
    <add key="AesPassword" value="E01F456E6C8B101F6BF94A24EB0B7C13" />
    <add key="AesSalt" value="C7600592DA0D4856EAE07D8471E16C47" />
    <add key="AesPasswordIterations" value="24" />
    <add key="AesInitialVector" value="qx7*790x03ZawefG" />
    <add key="AesKeySize" value="256" />
    <add key="ExchangeServiceUrl" value="https://srv-mail-01.capmkts.local/ews/exchange.asmx" />
    <add key="ExchangeServiceDomain" value="YourDomain" />
    <add key="ExchangeServiceUsername" value="YourUsername" />
    <add key="ExchangeServiceEmail" value="YourEmail@localhost" />
    <!-- .com, .net, .org, etc... -->
    <add key="ExchangeServicePassword" value="YourPassword" />
    <add key="DateTest1" value="12/31/2014" />
    <add key="DateTest2" value="01/01/0001" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="OpenShare.Net.UnitTest.UnitTests.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>