<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="OpenShareNet" />
    <add key="Environment" value="Local Development" />
    <add key="ErrorEmailGroup" value="YourEmail@localhost" /> <!-- .com, .net, .org, etc... -->
    <add key="ExchangeServiceUrl" value="https://YourEmailServ/ews/exchange.asmx" />
    <add key="ExchangeServiceDomain" value="YourDomain" />
    <add key="ExchangeServiceUsername" value="YourUsername" />
    <add key="ExchangeServiceEmail" value="YourEmail@localhost" /> <!-- .com, .net, .org, etc... -->
    <add key="ExchangeServicePassword" value="YourPassword" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>